/* Box Model Hack */
* {
  box-sizing: border-box;
  font-family: 'Barlow Condensed', sans-serif;
  text-decoration: none;
  list-style: none;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
a {
  color: white;
}

.gray-bg *{
  background: rgb(220, 223, 226);
}

.dgray-bg {
  background: rgb(106, 117, 136);
  color: white;
}

.black-bg {
  background: rgb(25, 31, 41);
  color: white;
}

.white-bg {
  background: white;
  color: black;
}

header img {
  width: 2%;
  display: block;
  margin: 0 auto;
}

.center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.black-t *{
  color: black;
}

/******************************************
/* LAYOUT
/*******************************************/
header li{
  float: left;
  width: 78%;
}

li.near {
  width: 5%;
  margin: 0 0.3%;
}

li.right {
  float: right;
  width: 10%;
}

footer section {
  float: left;
  width: 50%;
}

footer li {
  display: inline;
}

.spaces-pa {
  padding: 5%;
}

.double-column{
  float: left;
  width: 50%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.button {
  border: 0;
  border-radius: 2px;
  background: white;
  padding: 5% 10%;
}

h1 {
  font-size: 5em;
  margin-bottom: 1%;
}

.nice-p {
  width: 70%;
  text-align: center;
  padding-bottom: 2%;
}

.bigger-t {
  font-size: larger;
}

.padding-b {
  padding-bottom: 10%;
}

section.white-bg > p.nice-p {
  width: 30%;
} 

.border-button {
  padding: 2% 10%;
  border: 1px solid black;
}

#volunteer {
  margin-bottom: 0;
  padding-top: 5%;
}

.smaller {
  padding: 1% 5%;
}

footer *{
  margin: 0;
  padding: 0;
}

.warn {
  border-top: 1px solid white;
  padding: 1% 0%;
  width: 93%;
  display: block;
  margin: 0 auto;
}

h6 {
  font-size: 1em;
  color: lightslategray;
}

.bottom-space {
  padding: 2% 3%;
}

footer li{
  padding: 2%;
  padding-left: 0;
}

.space-top {
  padding-top: 2%;
}

.address {
  width: 15%;
  float: right;
  margin-right: 3%;
}

section.address h6 {
  padding-bottom: 10%;
}

.warn *{
  display: inline;
}

.warn img{
  float: right;
  padding: 0 3%;
}