/* Box Model Hack */
* {
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: sans-serif;
  color: black;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

nav li *{
  color: gray;
}

main > section span.orange-span, main ul {
  margin-top: 2%;
}

main section ul *{
  margin: 1% 0;
  font-size: 110%;
}

li a > span {
  font-size: 13px;
  font-weight: 600;
  margin: 1% 0;
  color: gray;
}

/******************************************
/* LAYOUT
/*******************************************/

body {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 1%;
  margin-top: 0;
}

nav {
  width: 15%;
}

nav li {
  margin-top: 5%;
}

main {
  width: 85%;
  display: flex;
  flex-wrap: nowrap;
}

section {
  margin-top: 0;
}

.second-section ul {
  display: flex;
  flex-direction: column;
}

.main-section *{
  margin: 0.5% 0;
}

.second-section li {
  margin: 1%;
  padding-top: 4%;
  border-bottom: 1px solid gray;
  padding-bottom: 3%;
}

.kind-of-footer {
  width: 85%;
  margin-left: 15%;
  display: flex;
  flex-direction: row;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.logo {
  width: 30%;
}

.main-img {
  width: 80%;
}

.main-section {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.second-section {
  width: 40%;
}

.orange-span {
  color: orange;
  font-weight: 900;
  display: block;
  font-size: 15px;
  margin-top: 5%;
}

#login {
  font-size: 14px;
  margin-bottom: 20%;
}

.more {
  border-top: 1px solid gray;
  padding-top: 15%;
  margin-top: 15%;
  width: 10%;
}

.main-p {
  color: gray;
  font-size: 17px;
  font-weight: 200;
}

.name-span {
  font-weight: bold;
  font-size: 11px;
}

li.no-border {
  border: none;
}

.bottom-span {
  margin: 1% 15%;
  margin-top: 2%;
  border-bottom: 1px solid gray;
  width: 100%;
  padding-bottom: 1%;
  font-weight: bold;
  font-size: 14px;
}

.late-art-img {
  width: 27%;
}

.kind-of-footer p{
  color: gray;
  line-height: 1.5;
  padding: 0 5%;
  text-align: justify;
}