/* Box Model Hack */
* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  border: none;
  background: transparent;
  list-style-type: none;
  color: black;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  background: url(../food-bg.png) rgb(242,	246,	247) top right no-repeat;
  background-size: 100%;
  font-size: 62.5%;
}

.poipole {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 12%;
  padding-bottom: 5%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/******************************************
/* LAYOUT
/*******************************************/
header, ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: transparent;
}

nav {
  width: 50%;
}

.four-block {
  display: flex;
  justify-content: space-around;
  width: 80%;
  padding-bottom: 5%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/* main (first) section style and layout*/
.poipole h1 {
  font-size: 4rem;
  white-space: pre-line;
}

.poipole ul {
  display: flex;
  justify-content: space-between;
  width: 30%;
  padding: 0;
}

.poipole input {
  background: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  height: 40px;
  width: 60%;
}

.poipole div {
  width: 50%;
  margin-bottom: 2%;
}

.poipole button {
  background: rgb(239,	142,	52);
  border-radius: 5px;
  height: 40px;
  width: 30%;
  cursor: pointer;
  color: white;
}

/* about us style (second section) */
.ludicolo {
  background: url(https://images.unsplash.com/photo-1464305795204-6f5bbfc7fb81?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80) left top no-repeat;
  padding: 5% 0 10% 30%;
}

.ludicolo button {
  width: 20%;
  margin-top: 2%;
}

.poipole h5 {
  color: rgb(239,	142,	52);
  font-size: 1.3em;
  margin: 0;
}

.poipole h2 {
  font-size: 3rem;
  white-space: pre-line;
  margin: 1% 0;
}

.poipole p {
  width: 50%;
  text-align: justify;
  line-height: 150%;
}

/* third section style */
.morelull {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3% 0;
}

.morelull ul {
  width: 100%;
  padding: 0 0 1% 0;
  border-bottom: 1px solid lightgray;
}

/* fourth section style and layout */
.espeon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: white;
}

.number {
  color: rgb(239,	142,	52);
  font-weight: bold;
  font-size: 2em;
  padding: 1% 0;
}

.ph-ico {
  padding: 1% 0;
  border-radius: 50%;
}

.espeon h4, .espeon h6 {
  margin: 0;
  line-height: 150%;
}

.espeon h4 {
  font-size: 2em;
}

.prova {
  width: 50%;
}