/* Box Model Hack */
* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  border: none;
  background: transparent;
  list-style-type: none;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  background: rgb(242,	246,	247);
}

/******************************************
/* LAYOUT
/*******************************************/
header, ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav {
  width: 50%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/