/* Box Model Hack */
* {
  box-sizing: border-box;
  font-family: sans-serif;
  color: rgb(54, 69, 87);
  background: rgb(247, 249, 252);
  text-decoration: none;
  border: none;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
.btn {
  background: rgb(54, 69, 87);
  color: white;
  font-weight: bold;
  font-size: smaller;
  padding: 5% 10%;
  cursor: pointer;
}

.logo {
  font-weight: bold;
  font-size: larger;
}

.h-links *{
  padding: 0 0.5%;
  font-size: 0.9em;
}

/******************************************
/* LAYOUT
/*******************************************/
li {
  display: inline;
}

.two-column {
  float: left;
  width: 50%;
  padding: 1%;
}

.four-column {
  float: left;
  width: 25%;
  padding: 1%;
}

.three-column {
  float: left;
  width: 33.333%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.h-btn {
  float: right;
  width: 13%;
}