/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
li {
  display: inline;
}

.two-column {
  float: left;
  width: 50%;
  padding: 1%;
}

.four-column {
  float: left;
  width: 25%;
  padding: 1%;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
