/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

body {
  background-color: antiquewhite;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color:lightcyan;
  border-radius: 20px;
  margin: 8% 20% 20% 20%;
}

#quote {
  font-style: italic;
}

#chaName {
  font-weight: bold;
}