/* Box Model Hack */
* {
  box-sizing: border-box;
  font-family: 'Barlow Condensed', sans-serif;
  background: rgb(106, 117, 136);
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
.gray-bg *{
  background: rgb(220, 223, 226);
}

/******************************************
/* LAYOUT
/*******************************************/
header li{
  float: left;
  width: 25%;
}

footer section {
  float: left;
  width: 50%;
}

footer li {
  display: inline;
}

.double-column{
  float: left;
  width: 50%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
