/* Box Model Hack */
* {
  box-sizing: border-box;
  font-family: 'Barlow Condensed', sans-serif;
  text-decoration: none;
  list-style: none;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
a {
  color: white;
}

.gray-bg *{
  background: rgb(220, 223, 226);
}

.dgray-bg {
  background: rgb(106, 117, 136);
  color: white;
}

.black-bg {
  background: black;
  color: white;
}

.white-bg {
  background: white;
  color: black;
}

header img {
  width: 2%;
  display: block;
  margin: 0 auto;
}

.center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/******************************************
/* LAYOUT
/*******************************************/
header li{
  float: left;
  width: 80%;
}

li.near {
  width: 5%;
}

li.right {
  float: right;
  width: 10%;
}

footer section {
  float: left;
  width: 50%;
}

footer li {
  display: inline;
}

.double-column{
  float: left;
  width: 50%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.button {
  border: 0;
  border-radius: 2px;
  background: white;
  padding: 5% 10%;
}

h1 {
  font-size: 5em;
  margin-bottom: 1%;
}

.nice-p {
  width: 70%;
  text-align: center;
  padding-bottom: 2%;
}

.bigger-t {
  font-size: larger;
}

.padding-b {
  padding-bottom: 10%;
}

section.white-bg > p.nice-p {
  width: 30%;
} 