* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }

body {
    background: lightskyblue;
    color: white;
    font-family: 'Roboto Serif', serif;
}

header, footer{
    text-align: center;
}

main {
    max-width: 500px;
    max-height: 800px;
    border: 3px solid limegreen;
    padding: 30px;
    margin: 2%;
    overflow: auto;
}

h1{
    font-style: italic;
    font-size: 25px;
}

h4{
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    padding-left: 2%;
}

a {
    color: limegreen;
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    font-weight: bold;
    border-right: 2px solid lightslategray;
    padding: 0 2% 0 2%;
}

a:active{
    color: white;
    text-decoration: none;
}

img {
    float: right;
    width: 30%;
    margin: 0 0 25px 15px;
}

li{
    display: inline;
}

p{
    font-size: 10px;
    word-spacing: 2px;
    line-height: 140%;
    padding: 0 2% 0 2%;
}