/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

header {
  border-bottom: 1px solid rgb(240, 241,242);
}

nav *{
  text-decoration: none;
  font-weight: 800;
  border: none;
  color: rgb(49, 99, 233);
}

/******************************************
/* LAYOUT
/*******************************************/
nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1%;
  margin-bottom: 0;
}

li {
  display: inline;
}

nav > a {
  display: flex;
  justify-content: center;
}

.main-wrapper {
  display: flex;
  justify-content: center;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
nav img {
  width: 5%;
}

.logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-img {
  width: 75%;
}

.main-text {
  display: flex;
  flex-direction: column;
  margin: 2%;
}

.search-bar {
  background: rgb(240, 241,242);
  height: 35px;
  width: 50%;
  margin-left: 5%;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(49, 99, 233);
  opacity: 1; /* Firefox */
  padding-left: 10px;
}

.input-wrapper {
  padding-left: 10%;
}