/* Box Model Hack */
* {
  box-sizing: border-box;
  font-family: sans-serif;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

header {
  border-bottom: 1px solid rgb(240, 241,242);
}

nav *{
  text-decoration: none;
  font-weight: 800;
  border: none;
  color: rgb(49, 99, 233);
}

header ul {
  width: 20%;
  margin-right: 5%;
  padding-left: 0;
}

header li {
  margin: 3%;
}

main ul {
  margin: 0;
  padding: 0;
  margin-top: 9%;
}

/******************************************
/* LAYOUT
/*******************************************/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1%;
}

li {
  display: inline;
}

nav > a {
  display: flex;
  justify-content: center;
}

.main-wrapper {
  display: flex;
  justify-content: flex-start;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
nav img {
  width: 7%;
}

.logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-img {
  width: 80%;
}

.main-text {
  display: flex;
  flex-direction: column;
  margin: 2%;
  position: absolute;
  width: 40%;
  top: 25%;
  left: 62%;
  box-sizing: border-box;
  margin: 0;
}

.search-bar {
  background: rgb(240, 241,242);
  height: 40px;
  width: 60%;
  margin: 4% 0;
  margin-left: 5%;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(49, 99, 233);
  opacity: 1; /* Firefox */
  padding-left: 10px;
}

.input-wrapper {
  padding-left: 5%;
}

.text-logo {
  color: rgb(19,41,48);
  font-size: 20px;
  font-weight: 600;
}

.header-option {
  background: transparent;
}

.main-text p {
  font-weight: 100;
  text-decoration: none;
  line-height: 2.0;
  margin: 0;
}

.main-header {
  font-size: 55px;
  font-weight: 500;
  font-family: sans-serif;
}

.main-link *{
  text-decoration: none;
  color: white;
  font-weight: 800;
  background: rgb(49, 99, 233);
  padding: 10px;
  border-radius: 5px;
  margin: 1% 0.5%;
}