/* Box Model Hack */
* {
  box-sizing: border-box;
  font-family: sans-serif;
  background: rgb(249,249,251);
  color: rgb(18,20,32);
  border: none;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
.bb {
  background: rgb(18,20,32);
}


/******************************************
/* LAYOUT
/*******************************************/
header li{
  display: inline;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
