section {
    float: left;
    width: 30%;
    margin: 0 1.5%;
}

aside {
    float: right;
    width: 30%;
    margin: 0 1.5%;
}

header {
    width: 100px;
    margin: 0 auto;
}

footer {
    width: 100px;
    margin: 0 auto;
}