/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  font-size: 62.5%;
}

/******************************************
/* LAYOUT
/*******************************************/
.container {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

.container-h {
  display: flex;
  flex-direction: row;
}

.child {
  height: 50px;
  width: 50px;
  border: 1px solid peachpuff;
  margin: 1%;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
